* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body
{
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
 }
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

ul li:first-of-type
{
    color: red;
}
