* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body{
  height:100vh;
  width:100vw;
  background-color: black;
 }

.main{
    height: 60%;
    width: 100%;
    background-color: wheat;
    padding: 20px;
    display: flex;

    flex-wrap: nowrap;
    gap: 20px;
    overflow: auto;

}
.box1{
    height:400px;
    width: 300px;
    background-color: red;
    background-image: url("https://images.unsplash.com/photo-1768025472612-3b30433eb160?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    flex-shrink: 0;
}
.box2{
    height:400px;
    width: 300px;
    background-color: red;
    background-image: url("https://images.unsplash.com/photo-1765768169488-a5575f71e790?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    flex-shrink: 0;
}
.box3{
    height:400px;
    width: 300px;
    background-color: red;
    background-image: url("https://plus.unsplash.com/premium_photo-1764245934006-df1fdd8948e9?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    flex-shrink: 0;
}

::-webkit-scrollbar{
    display: none;

}
/* ::-webkit-scrollbar-track{
    background-color: red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
} */
/*
::-webkit-scrollbar-thumb:hover {
    background: green;
}

::-webkit-scrollbar-button{
    background-color: white;
    color:white;
} */
