/* TRANSITION  */


/* transition: all;
transition-duration: 1s;
transition-timing-function:ease; */

/*  Transition-Timing-Function
        Ease
        Ease-in
        Ease-out
        Ease-in-out
        Linear
        Step-start
        Step-end
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body
{
  height:100vh;
  width:100%;
  padding: 20px;
  background-color: black;
 }
 .box{
    height: 300px;
    width: 300px;
    background-color: crimson;
    transform: rotate(0deg);

    border-radius: 30px;
    position: absolute;
    transition: all 1s ease-in-out;


    display: flex;
    justify-content: center;
    align-items: center;

 }
 h1{
    position: absolute;
 }


 .box:hover{

    background-color:aquamarine;
    transform:rotate(180deg);

 }
