* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  height:100%;
  width:100%;
  background-color:antiquewhite;
  padding: 20px;
 }
.main
{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}
.card1{
    height: 350px;
    width: 250px;
    background-color: white;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: all 0.2s ease;
}
.image img{
    height:100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.about p{
    text-align: center;
}
.follow button{
    padding:10px 50px;
    border-radius: 50px;
    background-color:cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.5s ease;
}

.follow button:hover{
    background-color: white;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.card1:hover{
    transform: scale(1.1);
}
